<div class="container">
  <h1><%= @section %></h1>
  <div class="row">
    <% @articles.each do |article| %>
      <div class="col-12 col-md-6 pb-1">
        <a href="<%= url_for article %>" class="text-decoration-none text-reset">
          <h5 class="mb-0"><%= article.title %></h5>
        </a>
        <p class="my-2">
          <small>
            <% article.authors.each_with_index do |author, i| %>
              <a href="<%= url_for author %>" class="text-decoration-none text-reset"><%= author.fullname %><%= author.gradyear.blank? ? "" : " ’#{author.gradyear.to_s[-2..-1]}" %></a><%= (article.authors.count > 2 and i != article.authors.count - 1) ? ", " : "" %><%= (article.authors.count > 1 and i == article.authors.count - 2) ? " and " : "" %>
            <% end %>
          </small>
        </p>
        <a href="<%= url_for article %>" class="text-decoration-none text-reset">
          <p class="mt-1 lh-sm"><small><%= (lambda {|text| text.split[0...[text.length, 30].min].join(" ") }).call(article.body.to_plain_text) %>...</small></p>
        </a>
      </div>
    <% end %>
  </div>
</div> 