<div class="container">
  <hr />
  <p class="ps-3"><b>Recent Articles</b></p>
  <ul class="list-group list-group-flush">
    <% Article.all.order(:published).reverse_order.take(5).each do |article| %>
      <li class="list-group-item">
        <b><a href="<%= url_for article %>" class="link-dark text-decoration-none"><%= article.title %></a></b>
        <small class="d-block">
          <% article.authors.each_with_index do |author, i| %>
            <a href="<%= url_for author %>" class="text-decoration-none text-reset"><%= author.fullname %><%= author.gradyear.blank? ? "" : " ’#{author.gradyear.to_s[-2..-1]}" %><%= (article.authors.count > 2 and i != article.authors.count - 1) ? ", " : "" %><%= (article.authors.count > 1 and i == article.authors.count - 2) ? " and " : "" %></a>
          <% end %>
        </small>
      </li>
    <% end %>
  </ul>
  <p></p>
  <hr />
</div>